<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685728591383-8b1bsba9ev5mlsgmtae171p0vkv49kgq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685728591383-8b1bsba9ev5mlsgmtae171p0vkv49kgq</string>
	<key>API_KEY</key>
	<string>AIzaSyASK4mqN6Ir6pJz-uPq8qwD_LLEe-eE_7s</string>
	<key>GCM_SENDER_ID</key>
	<string>685728591383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rolflocher.CranberryQueue</string>
	<key>PROJECT_ID</key>
	<string>cranberryqueue</string>
	<key>STORAGE_BUCKET</key>
	<string>cranberryqueue.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685728591383:ios:121b1588feadb5b12a7652</string>
	<key>DATABASE_URL</key>
	<string>https://cranberryqueue.firebaseio.com</string>
</dict>
</plist>